language: python

python:
  - "3.6"

sudo: required
dist: trusty

services:
  - docker

before_install:
  - sudo /etc/init.d/mysql stop
  - git clone https://github.com/FAForever/faf-stack.git faf-stack
      && pushd faf-stack
      && git checkout v20.2.7
      && source .env.template
      && cp -r config.template config
      && ./scripts/init-db.sh
      && popd
  - docker exec -i faf-db mysql -uroot -pbanana faf -e "select * from login;"
  - python -m pip install pipenv

install:
  - pipenv sync --dev
  - cp faf-server.example.pem faf-server.pem
  - docker build -t faf-python-server .

script:
  - scripts/run_tests_with_coverage.sh
  - sed -i.bak s#/code/#$(pwd)/#g .coverage
  - coveralls

after_success:
  - export REPO=faforever/faf-python-server
  - if [ -n "${TRAVIS_TAG}" ]; then
      docker login -u="${DOCKER_USERNAME}" -p="${DOCKER_PASSWORD}";
      docker tag faf-python-server ${REPO}:${TRAVIS_TAG};
      docker push ${REPO};
    fi
