PRIVATE_KEY = None
DB_SERVER = "localhost"
DB_PORT = 3306
DB_LOGIN = "faf_lobby"
DB_PASSWORD = "some_password"
DB_TABLE = "faf_lobby"

CHALLONGE_KEY = "challonge_key"
CHALLONGE_USER = "challonge_user"

PW_SALT = 'salty_salt'

STEAM_APIKEY = "steam_apikey"
STEAM_FA_ID = 0

MAIL_ADDRESS = ""
MAIL_PASSWORD = ""

def decodeUniqueId(lobby,string,login):
    return ""
