PRIVATE_KEY = None
DB_SERVER = "localhost"
DB_PORT = 3306
DB_LOGIN = "faf_lobby"
DB_PASSWORD = "some_password"
DB_NAME = "faf_test"

CHALLONGE_KEY = "challonge_key"
CHALLONGE_USER = "challonge_user"

VERIFICATION_SECRET_KEY = "IT'S STILL TOASTER TIME"
VERIFICATION_HASH_SECRET = "IT'S TOASTER TIME"

MAIL_ADDRESS = ""
MAIL_PASSWORD = ""
