[scripts]
devserver = "python server.py --configuration-file dev-config.yml"
tests = "py.test --cov-report term-missing --cov=server --mysql_database=faf -o testpaths=tests"
integration = "py.test -o testpaths=integration_tests"
vulture = "vulture server.py server/ --sort-by-size"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing = "*"
aiohttp = "*"
prometheus_client = "*"
docopt = "*"
"geoip2" = "*"
trueskill = "*"
aiocron = "*"
oauthlib = "*"
sqlalchemy = "*"
twilio = "*"
humanize = ">=2.6.0"
aiomysql = {editable = true, git = "https://github.com/aio-libs/aiomysql"}
pyyaml = "*"
aio_pika = "*"
pyjwt = {version = "*", extras = ["crypto"]}

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-asyncio = "==0.12.0"
coveralls = "*"
mock = "*"
vulture = "*"
asynctest = "*"
hypothesis = "==5.*"

[requires]
python_version = "3.7"
