[scripts]
devserver = "env LOG_LEVEL=TRACE python server.py"
tests = "scripts/run_tests_with_coverage.sh"
vulture = "vulture server.py server/ --sort-by-size"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing = "*"
aiohttp = "*"
prometheus_client = "*"
docopt = "*"
semver = "*"
"geoip2" = "*"
trueskill = "*"
aiocron = "*"
oauthlib = "*"
sqlalchemy = "*"
twilio = "*"
humanize = "*"
aiomysql = {editable = true, git = "https://github.com/aio-libs/aiomysql"}

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-asyncio = "*"
coveralls = "*"
mock = "*"
vulture = "*"
asynctest = "*"
hypothesis = "*"

[requires]
python_version = "3.7"
