typing
-f http://content.dev.faforever.com/wheel/
aiohttp
aiomysql
configobj
coveralls
docopt
pycrypto
semver
pygeoip
pytest==2.8.2
pytest-mock
pytest-cov
pyflakes
rsa
trueskill
aiocron
marisa-trie
oauth2client
git+https://github.com/FAForever/faftools.git@develop#egg=faftools
git+https://github.com/jaybaird/python-bloomfilter.git@2bbe01ad49965bf759e31781e6820408068862ac#egg=pybloom
