typing
-f http://content.dev.faforever.com/wheel/
aiohttp==1.3.3
aiomysql
aiomeasures
coveralls
docopt
pycrypto
semver
pygeoip
pytest==2.8.2
pytest-mock
pytest-cov
pyflakes
msgpack-python
rsa
trueskill
aiocron
marisa-trie
oauth2client
git+https://github.com/FAForever/faftools.git@38fc8e10f3cbd50d3f6abe9168e9040c08ad26cf#egg=faftools
pyopenssl
mock
lupa
