requests
typing
aiohttp==3.5.1
aiomysql
aiomeasures
coveralls
docopt
pycrypto
semver
geoip2
pytest==2.8.2
pytest-mock==1.10.0
pytest-cov==2.5.1
msgpack-python
rsa
trueskill
aiocron
marisa-trie
oauthlib
requests_oauthlib
mock
